

.apt-addheading {
  cursor: pointer;
  user-select: none;
}

.appointment-list {
  font-size: 1.1em;
  margin-top: 50px;
  

}

.appointment-list .pet-item{
  padding: 10px;
}




.appointment-list .pet-name {
  font-weight: 600;
  color: #337ab7;
  font-size: 1.3em;
  line-height: 100%;
}

.appointment-list .label-item {
  font-weight: 600;
  color:#19c0cc;
}

.appointment-list .apt-date {
  font-style: italic;
}



.dropdown-item.active,
.dropdown-item:active {
  background-color: #a9aeb2;
}


.container{
  display: flex;
  flex-direction: column;
 
  cursor: pointer;

}

