.grid{
    width: 85vw;
    margin: 0 auto;
    display: grid;
     grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    height: 10vw;
}

@media only screen and (max-width: 550px) {
    .grid{
      display: block;
      width: 100%;
    }
  }
  
  .background-list{
    background-image: linear-gradient(to right,white, #dae2e2e1);
  }